@charset "UTF-8";
/* 공통 css */
/* 초기화 시작 */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 980px;
    margin: 0 auto;
}

body {
    user-select: none;
    font-family: '맑은 고딕', '돋움', sans-serif;
    font-size: 12px;
    line-height: 40px;
    color: #444444;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    text-align: left;
    list-style: none;
}
li { list-style: none; }

a {
    text-decoration: none;
    color: black;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}

img { border: 0; }
button {
    width: 109px;
    height: 40px;
    border: 1px solid #5e5e5e38;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: #404040;
}
button:hover {
    cursor: pointer;
    background-color: #efefef99;
}
.btncolor { color: #7f7f7f; }
.clear { clear: both; }
.bdright { border-right: 1px solid #AAA; }

/* 초기화 끝 */