@charset "UTF-8";
/* createMemberForm css */
/* 초기화 시작 */

* {
    margin: 0;
    padding: 0;
}
html {
    width: 980px;
    margin: 0 auto;
}
body {
    user-select: none;
    font-family: '맑은 고딕', '돋움', sans-serif;
    font-size: 12px;
    color: #444444;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    background-color: white;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    text-align: left;
    list-style: none;
}
li { list-style: none; }

a {
    text-decoration: none;
    color: black;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}

img { border: 0; }
button {
    width: 109px;
    height: 40px;
    border: 1px solid #5e5e5e38;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: #404040;
}
button:hover {
    cursor: pointer;
    background-color: #efefef99;
}

/* 초기화 끝 */
/* header 시작 */

header.common {
    width: 600px;
    height: 49.1px;
    margin: 37px 0;
    background-color: #7e95cec9;
}

.subtitle {
    float: left;
    position: relative;
    margin-left: 14px;
    width: 140px;
    height: 49px;
    text-align: center;
    vertical-align: middle;
    line-height: 49px;
    background-color: #728ac7;
}

.subtitle h2 {
    margin: 0;
    font-size: 29px;
    color: white;
    font-weight: bold;
}

.subtitle h2 a {
    color: white;
}

.topnav {
    float: left;
    margin: 0;
    margin-left: 20px;
    padding-top: 3px;
    vertical-align: middle;
    list-style: 0px;
}

.topnav li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}

.topnav li a {
    font-size: 15px;
    font-weight: bolder;
    vertical-align: middle;
    color: white;
}
.topnav li:hover a {
    cursor: pointer;
    color: #1b2746;
}

.topnav img {
    width: 24px;
    height: 26px;
    padding-top: 12px;
}

/* header 끝 */
/* container 시작 */

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

th,td {
    margin: 0;
    padding: 0px 10px;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #5e5e5e29;
    border-bottom: 1px solid #5e5e5e29;
}

th {
    width: 145px;
    font-weight: normal;
    background-color: #efefef99;
    border-bottom: 3px double #5e5e5e29;
}

td {
    width: 567px;
    vertical-align: middle;
}

/* container 끝 */