/* borrow.html의 css */
/* content 시작 */

#content {
    float: left;
    display: block;
    width: 700px;
    margin-left: 38px;
}

#content h1 { font-size: 25px;}
#content hr {
    width: 100px;
    margin: 3px 0;
}

#findlist { margin-top: 20px; }
#findlist select {
    margin-left: 5px;
    padding: 0 10px;
    width: 140px;
    height: 40px;
    border: 1px solid #5e5e5e38;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    color: #404040;
}

#searchbar {
    display: inline-block;
    margin-left: 5px;
    width: 385px;
    height: 40px;
    border: 1px solid #5e5e5e38;
    border-radius: 4px;
    background-color: white;
}

#searchbar input {
    width: 325px;
    height: 40px;
    padding: 0 10px;
    border: none;
    font-size: 14px;
    color: #404040;
}

#findlist button {
    display: inline;
    float: right;
    width: 40px;
    height: 40px;
    background-color: #ededed;
    border: none;
    border-radius: 0;
}

#searchbtn:hover {
    background-color: #efefef38;
}

#searchbtn img {
    width: 20px;
    height: 20px;
}

#result {
    height: 50px;
    margin-top: 12px;
    padding: 155px 0;
    background-color: #efefef;
    color: #7f7f7f;
    text-align: center;
    font-size: 14px;
}

/* content 끝 */