/* client.html의 css */
/* content 시작 */

#content {
    float: left;
    display: block;
    width: 700px;
    margin-left: 38px;
}

#content h1 { font-size: 25px;}
#content hr {
    width: 100px;
    margin: 3px 0;
}

#profile { margin-top: 20px; }
#profile th,td {
    padding: 24px 32px;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #5e5e5e29;
    border-bottom: 1px solid #5e5e5e29;
}

#profile th {
    width: 145px;
    font-weight: normal;
    background-color: #efefef99;
}

#profile td {
    width: 567px;
    vertical-align: middle;
}

#profile .img {
    display: block;
    float: left;
    width: 85px;
}

#profile img {
    width: 85px;
    height: 85px;
}

#profile button {
    margin: 2px 30px;
}

#profile input {
    width: 300px;
    padding: 15px;
    font-size: 14px;
    color: #5e5e5e;
    border: 1px solid #5e5e5e38;
}

/* content 끝 */
/* button 시작 */

#button {
    float: left;
    display: block;
    width: 700px;
    margin-top: 40px;
    margin-left: 38px;
    padding: 17px 0;
    text-align: center;
    background-color: #efefef99;
}
#button button { margin: 0 15px; }

/* button 끝 */